<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>所有活动</title>
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/mycss.css" rel="stylesheet"></link>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="row">
<div class="span12">
<h1>网站使用手册</h1>
<h3>网络平台的功能</h3>
<p class="desp">I Can是属于DFC南京的一个行动站，它旨在搭建一个沟通未成年人和成年人的平台，将DFC的"孩童行动，世界大不同"理念推广。一方面，它让未成年人能轻松的联系到DFC，找到DFC的协助。另一方面，让希望帮助孩童成长的成年人能很轻松的介入进来，给与成年人陪着孩子创造青春和奇迹的机会。</p>
<p class="desp">它的工作模式是：</p><div style="text-align:center;"><span class="label label-info">未成年人提出问题</span><i class="icon-arrow-right"></i><span class="label label-info">成人参与，DFC协助</span><i class="icon-arrow-right"></i><span class="label label-info">用四个步骤解决问题</span><i class="icon-arrow-right"></i><span class="label label-info">用相机和网络平台记录过程</span><i class="icon-arrow-right"></i><span class="label label-info">把解决问题的过程分享出去</span><i class="icon-arrow-right"></i><span class="label label-info">感染更多人</span></div>

<h3>通过网络平台发起一场DFC行动（DFC工作坊）</h3>
<h5>找到创建的入口</h5>
<span class="label">创建DFC行动</span>您需要打开主页，看到我要行动一栏描述中的一个白色的链接：“试着发起一个DFC行动”，点开按照步骤创建即可。
<span class="label">创建工作坊</span>您需要打开主页，看到工作坊一栏描述中的一个白色的链接："发起工作坊活动"，点开按照步骤创建即可。

<h3>招募--认真的填写简介</h3>
<h3>利用平台进行高效沟通</h3>
<h5>通知</h5>
通知主要来自你参加的活动和你的团队。
当一个团队成员在团队聊天频道中的发言标记为通知，它将会被广播到每个团队成员。
当一个成员在活动主页中的发言标记为通知，它将会被广播到每个活动成员，只有活动创建者和团队成员才拥有此权限。
与一般理解的通知有所不同的是，I Can的通知有个“阅”的标记，点击这个“阅”可以给发送通知者一个回执，告诉发送者你已经阅读过此通知，所以记得读完通知点个阅哦，尤其是重要通知。
<h5>站内信</h5>
<p>站内信是站内用户私下交流的一种主要方式。与</p>
<h5>订阅</h5>
<p>订阅的信息来自您关注的公益组织和个人。</p>
<h3>如何生成一个漂亮的故事</h3>
网站有个功能是自动生成DFC故事，提交活动的时候就会看到这个选项。故事的自动生成依赖于创建者和团队填写的流程节点，以及每条回复所带的标签。所以认真的填写流程节点（尤其是简介和4个步骤），给精彩回复加上合适的标记变得尤其重要。
<h5>认真的填写好4个步骤</h5>
4个步骤即：感受，想象，行动，分享
一般4个步骤的执行都是放在线下，讨论的时候，志愿者一定要做好记录，把这些讨论和想法都记录在本子上，回来之后可以整理到网络平台来丰富这些节点，这些节点将会成为生成故事很好的素材。
<h5>利用好标记和标签功能</h5>
标签代表了帖子的内容，合适的标签可以让系统整理出有用的信息以供展示和推送。
标签分为：
1. 活动记录
活动记录包括活动图片，活动描述等。活动记录将会被添加到行动节点，最终出现在展示界面的行动部分。
2. 活动感受
标记为活动感受的发言将会被添加到分享节点，最后出现在展示界面的分享部分。
3. 重要信息
进入主页的默认界面就是只显示“重要信息”，这些重要信息是依靠发言时所用的标签和活动管理者的标记功能来标注的。
<h3>网站服务条款</h3>
<p class="desp">活动过程中，可能会需要交换联系方式和真实姓名以便联系，网站并不承担因此造成的信息泄露的后果。网站在创建活动时，会提醒过未成年人各种安全注意事项，网站并不承担对未成年人出行健康的保障。</p>

</div></div></div>
</body>
</html>
