<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>进行中的活动活动</title>
<link href="css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/mycss.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/setrecruit.js"></script>
<script src="js/global.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>
<div class="container" style="margin-top:30px;">

    <div class="row">
    <div class="span3">
    	
        <div>
        <h3>正在进行的行动</h3></div>
        <h6>排序</h6>
    	<ul class="nav nav-pills nav-stacked" id="mail_ul">
        <li class="active" id="sended_link">
        <a href='#'>最新的靠前</a>
        </li>
        <li id="recieved_link">
        <a href='#'>最热的靠前</a>
        </li></ul>
        <h6>显示</h6>
        <div class="checkbox">
        <input type="checkbox">仅显示工作坊
        </div>
        <div class="checkbox">
        <input type="checkbox">仅显示非工作坊
        </div>
        <div class="checkbox">
        <input type="checkbox">仅显示志愿者未满
        </div>
        <div class="checkbox">
        <input type="checkbox" checked>仅显示未开始活动
        </div>
	<div style="margin-top:50px;">
        <a class="btn btn-info" href='cact.html' style="width:85%;margin-bottom:10px;">去发起一个行动</a>
        <p class="desp">解决一个你在意的问题，它可以是一个困扰你或者大家的问题，也可以是一个让世界变得更加美好的一个想法。通过这个平台召集小伙伴，并获得DFC的帮助（<a href="intro_dfc.html" target="_new">能提供哪些帮助？</a>）。DFC重视每一个未成年人的想法，不管这个想法是多么天马行空。</p>
        </div>
    </div><!--End Of Side Bar-->
    <div class="span9">
	<div class="row">
    <div class="span3" id="div1">
        <div class="outer_div" id='act_1'>
            <div class="operation_div" id="operation_div">
            <span class="label"><a href="#" class="goldlink" id="track">跟踪动态</a></span>
            <div style=" width:140px;text-align:right; display:inline-block">
            <span class="label"><a href="#" class="goldlink">分享(18)</a></span>
            <span class="label"><a href="#" rel="tooltip" class="goldlink" title="需求：引导员3名，摄影师1名，已有引导员2名，摄影师一名。" id="enroll">加入(3)</a></span>
            </div>
            </div>
        
            <div class="face_div" id="facediv">
            <img src="activity/a0000001/image/poster.jpg" class="face_img">
            </div>
            
        
        
            <div class="description_div">
            <p class="smallp">这是有翠竹园小区明志书屋项目组发起的一个活动。已经有7人参与。</p>
                <div class="infodiv">  
                <div class="pull-right"><a href="#" class="label goldlink">by: 刘金国</a></div>
                </div>
            </div>
            
            <div class="bottom_div">
            <div style="padding-left:7px;">
                翠竹园童书屋建设
            </div>
            </div>

        </div>
    </div>
    <div class="span3" id="div2"></div>
    <div class="span3" id="div3"></div>
    </div>
    </div>
</div>

          <div id="notvol" class="modal hide fade">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>选择参与的身份</h3>
          </div>
          <div class="modal-body">
          <p>只有完善资料后才能参与到活动中去,<a href="profile.html">现在去填写</a>。
          </p><p>如果你想作为组织者参与，您需要打开志愿者和团队面板先填写加入团队申请，再返回操作。</p>
          </div>
          	<div class="modal-footer">
            <button class="btn input-xlarge" data-dismiss="modal">作为普通参与者</button>
            <div class="btn-group">
            <button class="btn input-small" title="引导员" rel="tooltip" id="asfaci" data-dismiss="modal">作为引导员</button>
            <button class="btn input-small" disabled title="摄影师数量已满" rel="tooltip" id="ascam" data-dismiss="modal">作为摄影师</button>
            <button class="btn input-small" disabled title="主持人数量已满" rel="tooltip" id="ashost" data-dismiss="modal">作为主持人</button>
            </div>
            <button class="btn input-xlarge" disabled title="您不是该组织的成员" rel="tooltip" id="asteam" data-dismiss="modal">作为组织者</button>
            </div>
          </div> 
          
          
           <div id="befaci" class="modal hide fade">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>注册为DFC志愿者</h3>
          </div>
          <div class="modal-body">
          <p>你现在还不是DFC的引导员，要成为DFC的引导员，您需要填写以下资料</p>
         <form class="modal-form">
          <fieldset>
          <div class="control-group">
              <label class="control-label">您的特长</label>
              <div class="controls">
              <input class="input-xlarge">
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
              <label class="checkbox"><input type="checkbox">我要成为长期志愿者</label>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
              <button class="btn" type="submit">确认并参与</button>
              </div>
          </div>
          </fieldset>
          </form>
          </div>
          </div> 
    
    </div>
    
    
</div></div>

</body>
</html>
