<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>注册志愿者</title>

<script src="js/jquery.min.js"></script>
<link href="css/mycss.css" rel="stylesheet">
<link href="css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-datetimepicker.min.css">
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/setsignin.js"></script>
<style type="text/css">


</style>
</head>

<body>


<div class="container">
 <!--Keep in Step-->
  <div id="team_form" class="padding20">  
  	<div id="legend" style="text-align:left">
        <legend class="">关注公益团队</legend>
      </div>
    <div class="span2" style="font-size:0.7em">
      <label  class="added_label">已关注</label>
      <ul>
          <li><a class="namelink" href="#">孩童创意中心</a> &nbsp;<a href="#" class="silverlink">移除</a>
          </li>
          <li><a href="#" class="namelink">瓢虫印象</a>&nbsp;<a href="#" class="silverlink">移除</a>
          </li>
      </ul>
 </div>
<div class="span8">
  <form class="form-horizontal"><fieldset>
          <!-- Select Basic -->
          <div class="control-group">
              <label class="control-label" for="iteam">公益团队</label>
              <div class="controls">
                <select class="input-small" id="iteam">
                  <option>选择团队</option>
                  <option>DFC</option>
                  <option>瓢虫印象</option>
                  <option>嘤鸣读书会</option>
                </select>
              </div>
          </div>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-default">关注</button>
          </div>
        </fieldset></form>
  </div>
 </div>



<!--Be A Volunteer-->
<div class="padding20" id='volunteer_form'>

<div id="legend" style="text-align:left">
        <legend class="">加入志愿者联盟</legend>
</div>
  <div class="span2" style="font-size:0.7em;">
      <label class="added_label">已参加</label>
      <ul>
      <li><a class="namelink" href="#">孩童创意中心</a> &nbsp;<a href="#" class="silverlink">退出</a>
      </li>
      <li><a href="#" class="namelink">瓢虫印象</a>&nbsp;<a href="#" class="silverlink">退出</a>
      </li>
      </ul>
  </div>
  
  
  <div class="span8">
    <form class="form-horizontal">
    <fieldset>
    <div class="control-group">
        <label class="control-label" for="selectgroup selecttype">志愿者类型</label>
       <div class="controls">
       <select class="input-small" id="selectgroup">
          <option>选择组织</option>
          <option>DFC</option>
          <option>瓢虫印象</option>
          <option>嘤鸣读书会</option></select>

          <select class="input-small" id="selecttype">
          <option>选择类型</option>
          <option>引导员</option>
          <option>摄影师</option>
          <option>主持人</option></select>
        </div>
    </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-default">直接加入</button>
          </div>
        </div>
    </fieldset>
  </form>
  
  </div></div>
 
 
 
  <!--Add A Team-->
  <div id="team_form" class="padding20">  
  <div id="legend" style="text-align:left">
        <legend class="">加入公益团队</legend>
      </div>
    <div class="span2" style="font-size:0.7em">
      <label  class="added_label">已参加</label>
      <ul>
          <li><a class="namelink" href="#">孩童创意中心</a> &nbsp;<a href="#" class="silverlink">退出</a>
          </li>
          <li><a href="#" class="namelink">瓢虫印象</a>&nbsp;<a href="#" class="silverlink">退出</a>
          </li>
      </ul>
    </div>
 </div>
<div class="span8">
  <form class="form-horizontal"><fieldset>
          <!-- Select Basic -->
          <div class="control-group">
              <label class="control-label" for="target_team">公益团队</label>
              <div class="controls">
                <select class="input-small" id="target_team">
                  <option>选择团队</option>
                  <option>DFC</option>
                  <option>瓢虫印象</option>
                  <option>嘤鸣读书会</option>
                </select>
              </div>
          </div>

           <!-- Textarea -->
           <div class="control-group">
           <label class="control-label" for="self_intro">自我介绍</label>
           <div class="controls">
                 <textarea class="input-xlarge" id="self_intro" placeholder="认真填写"> </textarea>
          </div>
          </div>
        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-default">申请加入</button>
          </div>
        </div></fieldset></form>
  </div>
</body>
</html>
