<!doctype html>
<!--Navigator Block-->
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<link href="css/bubble.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bubble.js"></script>
</head>
<div class="row">
	<div class="col-md-1">
		<div class=" bubble-left-author pull-right">
			<div class="row">
				<img src="img/avatar/2.jpg" class="avatar-middle pull-right" style="display: block;">
			</div>
			<div class="row">
				<a class="text-primary pull-right" href="#" style="font-size: 0.8em;">谢闯</a>
			</div>
			<div class="row">
				<span class="text-muted pull-right" style="font-size: 0.8em;">12/31 12:12</span>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="bubble">
			<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
				<span class="bubble-title">
				<span class="text-muted">[19#]</span> ahahahhah 
				</span>
				<div class="bubble-opblock pull-right">
					<a href="javascript:void(0)" title="Share this Content"><span class="glyphicon glyphicon-share"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
					<a href="javascript:void(0)" title="up"><span class="glyphicon glyphicon-thumbs-up"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
					<span class="dropdown">
						<a href="javascript:void(0)" title="Operation" id="dropdownMenu1" class="dropdown-toggle" data-toggle='dropdown'><span class="glyphicon glyphicon-cog"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">回复</a></li>
							<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">删除</a></li>
						</ul>
					</span>
				</div>
			</div>
			<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
				<p class="bubble-p">sdjflasjfjaslfjal;sfasdfasdfasdf asdfasf asdf as asdf sd fa sdfa sfas asdf  asfasd </p>
			</div>
			<div class="row" style="padding-left: 20px; padding-right: 20px;">
				<div class="well">
					<legend class="file-legend">Attached images</legend>
					<div class="padding-small image-wrapper" style="display: inline-block" id="img1">
						<div class="overlap hide image-opblock" id="img1-opblock">
							<a href="javascript:void(0)" class="glyphicon glyphicon-save image-op" style="margin-left: 0" title="保存到本地">11</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-thumbs-up image-op" title="点赞">11</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-share image-op" title="分享">23</a>
						</div>
						<img class="img-rounded image-small" src="img/wall/bg4.jpg" title="click-zoom">
					</div>
					<div class="padding-small image-wrapper" style="display: inline-block" id="img2">
						<div class="overlap hide image-opblock" id="img2-opblock">
							<a href="javascript:void(0)" class="glyphicon glyphicon-save image-op" style="margin-left: 0" title="保存到本地">11</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-thumbs-up image-op" title="点赞">11</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-share image-op" title="分享">23</a>
						</div>
						<img class="img-rounded image-small" src="img/wall/bg7.jpg" title="click-zoom">
					</div>
				</div>
				<div class="well">
					<legend class="file-legend">Attached files</legend>
					<div class="file-item">
						<div class="file-icon"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;PPT 文档</div>
						<div class="file-title" style="margin-bottom: 5px;">本次策划.ppt</div>
						<div>
							<a href="javascript:void(0)" class="glyphicon glyphicon-save file-op" style="margin-left: 0" title="保存到本地">1</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-eye-open file-op" title="在线察看">12</a>
							<a href="javascript:void(0)" class="glyphicon glyphicon-thumbs-up file-op" title="点赞">2</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-7">
		<div class="bubble-right pull-right">
			<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
				<span class="bubble-title">
				<span class="text-muted">[18#]</span> ahahahhah 
				</span>
				<div class="bubble-opblock pull-right">
					<a href="javascript:void(0)" title="Share this Content"><span class="glyphicon glyphicon-share"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
					<a href="javascript:void(0)" title="up"><span class="glyphicon glyphicon-thumbs-up"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
					<span class="dropdown">
						<a href="javascript:void(0)" title="Operation" id="dropdownMenu1" class="dropdown-toggle" data-toggle='dropdown'><span class="glyphicon glyphicon-cog"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">回复</a></li>
							<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">删除</a></li>
						</ul>
					</span>
				</div>
			</div>
			<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
				<p class="bubble-p">sdjflasjfjaslfjal;sfasdfasdfasdf asdfasf asdf as asdf sd fa sdfa sfas asdf  asfasd </p>
			</div>
		</div>
	</div>
	<div class="col-md-1">
		<div class=" bubble-right-author">
			<div class="row">
				<img src="img/avatar/2.jpg" class="avatar-middle" style="display: block;">
			</div>
			<div class="row">
				<a class="text-primary" href="#" style="font-size: 0.8em;">谢闯</a>
			</div>
			<div class="row">
				<span class="text-muted" style="font-size: 0.8em;">12/31 12:12</span>
			</div>
		</div>
	</div>
</div>


</html>