<!doctype html>
<!--Navigator Block-->
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<link href="css/editor-simple.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/rangy-core.js"></script>
<script src="js/editor-simple.js"></script>
</head>
<div class="col-md-6">
	<form class="editor-wrapper" id="id1-form">
		<div>
			<input type="text" placeholder="标题" class="editor-title" tabindex="0">
		</div>
		<div class="editor-simple" id="id1-content">
			<textarea id="id1-area" class="hide"></textarea>
		</div>
	</form>
</div>
<div class="col-md-6">
	<form class="editor-wrapper" id="id2-form">
		<div>
			<input type="text" placeholder="标题" class="editor-title" tabindex="0">
		</div>
		<div class="editor-simple" id="id2-content">
			<textarea id="id2-area" class="hide"></textarea>
		</div>
	</form>
</div>

</html>