<!doctype html>
<!--Navigator Block-->
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body style="background-color:#DDDDDD;">
    <div class="navbar navbar-static">
	    <div class="navbar-inner">
	        <div class="container">
	        	<a class="brand" href="index.html">I Can</a>
	            <ul class="nav" id="navul">
		            <li class="active navitem" id="intro_link"><a href="intro_dfc.html" target="content">志愿者招募</a></li>
		            <li class="navitem"><a href="recruit.html" id="recruit_link" target="content">公益故事</a></li>
		            <li class="navitem"><a href="activities.html" id="activities_link" target="content">公益团队</a></li>
		            <li class="navitem"><a href="awards.html" id="awards_link" target="content">大奖赛</a></li>
	          	</ul>
	          	<ul class="nav pull-right"> <!--Right hand side-->
	          	  	<li>  
	          	      	<form class="navbar-search pull-left">
	  			    		<input type="text" style="margin-bottom: 0;margin-right: 15px;" placeholder="搜索">
				     	 </form>
				  	</li>
	              	<li>
		            	<a href="message.html" target="content" style="padding:5px;">
		             		<img class="avatar-middle" src="img/icon/mail.png">
		            	</a>
	             	</li>
	                <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:5px;">
		                	<img src="img/avatar/1.jpg" class="avatar-middle"><b class="caret"></b>
		                </a>
		            	<ul class="dropdown-menu">
			                <li><a href="myact.html" target="content">活动1</a></li>
			                <li><a href="myteam.html" target="content">活动2</a></li>
			                <!--<li><a href="#">备忘</a></li>-->
			                <li class="divider"></li>
			                <li><a href="myact.html" target="content">组织1</a></li>
			                <li><a href="myteam.html" target="content">组织2</a></li>
			                <li class="divider"></li>
			                <li><a href="#" id="logout">注销</a></li>
			                <li><a href="profile.html" target="content">修改个人资料</a></li>
		                </ul>
	                </li>
	            </ul>
	            <div class="row">
	            	<div class="well">
	            	
	            	</div>
	            </div>
	        </div>
        </div><!-- /navbar-inner-->
    </div><!-- /navbar-->
	
	<div class="container">
		<div class="tabbable">
			<ul class="nav nav-tabs" style="display: inline-block;margin-bottom: 0" id="nav2-ul">
			    <li class="active">
			    	<a href="#mainpage" data-toggle="tab">首页</a>
			    </li>
			    <li><a href="#mingzhi" data-toggle="tab">明志书屋项目</a></li>
			    <li><a href="#filepage" data-toggle="tab">文档区</a></li>
			    <li><a href="#userpage" data-toggle="tab">成员讨论区</a></li>
			</ul>
			<ul class="nav nav-pills pull-right" style="margin-bottom: 0">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">添加标签页面</a></li>
						<li><a href="#">成员管理</a></li>
					</ul>
				</li>
			</ul>
			<div class="tab-content">
				<div  id="mainpage" class="tab-pane">
					主页
				</div>
				<div  id="filepage" class="tab-pane">
					上传文件
				</div>
				<div  id="userpage" class="tab-pane">
					用户管理
				</div>
				<div  id="mingzhi" class="tab-pane">
					明志书屋项目
				</div>
			</div>
		</div>
	</div>

<!--Footer Block-->
<div style="width: 100%; margin-top: 100px;">
<div style="background-color: #777; padding:20px;">
	<div class="container">

		<div class="row">
			<div class="span3">
				<ul class="unstyled">
					<li>
						<h5>关于I Can</h5>
					</li>
					<li>了解I Can</li>
					<li>团队介绍</li>
					<li>联系我们</li>
				</ul>
			</div>
			<div class="span3">
				<ul class="unstyled">
					<li>
						<h5>帮助</h5>
					</li>
					<li>建议反馈</li>
					<li>网站使用手册</li>
					<li>网站管理条例</li>
				</ul>
			</div>
			<div class="span3">
				<ul class="unstyled">
					<li>
						<h5>关注I Can</h5>
					</li>
					<li>新浪微博</li>
					<li>人人网</li>
					<li>豆瓣小组</li>
				</ul>
			</div>
			
			<div class="span3">
				<ul class="unstyled">
					<li>
						<h5>官方微信</h5>
					</li>
					<li><img src="img/wall/bg4.jpg" class="avatar-large" /></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>