<!doctype html>
<!--Navigator Block-->
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/global.js"></script>
</head>
<body style="background-color:#E4E4E4;background-size: cover; font-size: 80%;">
  
<!--Content-->
<div class="container">
	<h3 class="padding-small">招募中和进行中的公益行动</h3>
	<div  class="row">
		<div class="col-md-7">
			<div class="padding-small">
				<input type="text" class="form-control" style="font-size: 0.8em;" placeholder="请输入关键词：标题，简介，类型，主办方，创建者">
				<p class="help-block">
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
				</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-7" style="margin-bottom: 100px; ">
			<div class="row" style="margin-bottom: 20px;">
				<div class="margin-middle" style="margin-right: 0">
					<div class=" pull-right" style="padding-right: 15px;">
						<select class="form-control">
							<option>排序</option>
							<option>最活跃</option>
							<option>信用最高</option>
						</select>
					</div>
				</div>
			</div>
			<div class="padding-middle hover-div" style=" background-color: #EEEEEE; margin-bottom: 20px;" id="act1">
				
				<div>
					<h5 style="display: inline-block;">
						DFC南京&nbsp;&nbsp;&nbsp;<small><a href="#">官方主页</a></small>
					</h5>
					<div class=" pull-right" style="margin-top: 7px;">
						<table ><tr>
							<td>
								<div id="act1_content" class="hide" style="display: inline-block;">
									<div class="bdsharebuttonbox" data-tag="share_1" style="height:22px; overflow: hidden; margin-top: -7px; margin-bottom: -3px;">
										<!--<a class="bds_mshare" data-cmd="mshare"></a>-->
										<a class="bds_qzone" data-cmd="qzone" href="#"></a>
										<a class="bds_tsina" data-cmd="tsina"></a>
										<a class="bds_renren" data-cmd="renren"></a>
										<a class="bds_weixin" data-cmd="weixin"></a>
										<a class="" data-cmd="more">更多</a>
										<a class="bds_count" data-cmd="count"></a>
									</div>
								</div>&emsp;
							</td>
							<td>
								<a href="#">捐赠</a>&emsp;
							</td>
							<td height="20px">
								<a href="javascript:void(0)">参与(5/8)</a>&emsp;
							</td>
							<td>
								<a href="javascript:void(0)">关注(12)</a>
							</td>
						</tr></table>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<img src="img/wall/bg1.jpg">
						</div>
					</div>
					<div class="col-md-9 col-sm-9">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
						</p>
						<p class="pull-right">
							负责人：Niki（15195955770）
						</p>
					</div>
				</div>
				<p>
					<a href="javascript:void(0)">收起</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<span class="text-muted">标签：</span>
					<a class="text-muted" href="javascript:void(0)">青年</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">青春</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">教育</a> &nbsp;&nbsp;
					<span class="pull-right">
						信用度&nbsp;
						<a href="#">58</a>&nbsp;&nbsp;&nbsp;
						活跃度&nbsp;
						<a href="#">77</a>
					</span>
				</p>
				
			</div>
			<div class="padding-middle hover-div" style=" background-color: #EEEEEE; margin-bottom: 20px;" id="act1">
				
				<div>
					<h5 style="display: inline-block;">
						DFC南京&nbsp;&nbsp;&nbsp;<small><a href="#">官方主页</a></small>
					</h5>
					<div class=" pull-right" style="margin-top: 7px;">
						<table ><tr>
							<td>
								<div id="act1_content" class="hide" style="display: inline-block;">
									<div class="bdsharebuttonbox" data-tag="share_1" style="height:22px; overflow: hidden; margin-top: -7px; margin-bottom: -3px;">
										<!--<a class="bds_mshare" data-cmd="mshare"></a>-->
										<a class="bds_qzone" data-cmd="qzone" href="#"></a>
										<a class="bds_tsina" data-cmd="tsina"></a>
										<a class="bds_renren" data-cmd="renren"></a>
										<a class="bds_weixin" data-cmd="weixin"></a>
										<a class="" data-cmd="more">更多</a>
										<a class="bds_count" data-cmd="count"></a>
									</div>
								</div>&emsp;
							</td>
							<td>
								<a href="#">捐赠</a>&emsp;
							</td>
							<td height="20px">
								<a href="javascript:void(0)">参与(5/8)</a>&emsp;
							</td>
							<td>
								<a href="javascript:void(0)">关注(12)</a>
							</td>
						</tr></table>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<img src="img/wall/bg1.jpg">
						</div>
					</div>
					<div class="col-md-9 col-sm-9">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
						</p>
						<p class="pull-right">
							负责人：Niki（15195955770）
						</p>
					</div>
				</div>
				<p>
					<a href="javascript:void(0)">收起</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<span class="text-muted">标签：</span>
					<a class="text-muted" href="javascript:void(0)">青年</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">青春</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">教育</a> &nbsp;&nbsp;
					<span class="pull-right">
						信用度&nbsp;
						<a href="#">58</a>&nbsp;&nbsp;&nbsp;
						活跃度&nbsp;
						<a href="#">77</a>
					</span>
				</p>
			</div>
			<a href="javascript:void(0)" class="pull-right">显示更多</a>
		</div>
		<div class="col-md-5">
			<div align="center">
				<button class="btn btn-lg btn-primary">创建组织</button>
			</div>
			<div class="padding-middle text-muted">
				<p style="font-size:1.7em; line-height: 2.3em;">&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
			</div>
		</div>
	</div>


<!--Footer Block-->
<div style="width: 100%; margin-top: 100px;">
<div style="background-color: #777; padding:20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="unstyled">
					<li>
						<h5>关于I Can</h5>
					</li>
					<li>了解I Can</li>
					<li>团队介绍</li>
					<li>联系我们</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="unstyled">
					<li>
						<h5>帮助</h5>
					</li>
					<li>建议反馈</li>
					<li>网站使用手册</li>
					<li>网站管理条例</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="unstyled">
					<li>
						<h5>关注I Can</h5>
					</li>
					<li>新浪微博</li>
					<li>人人网</li>
					<li>豆瓣小组</li>
				</ul>
			</div>
			
			<div class="col-md-3">
				<ul class="unstyled">
					<li>
						<h5>官方微信</h5>
					</li>
					<li><img src="img/wall/bg4.jpg" class="avatar-large" /></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

</body>
</html>