<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>
<script src="js/setactivity.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body style="background-color: silver;">
<div class="col-md-8">
	<div class="well">
		<form class="form-horizontal" role="form">
			<h3 class="page-header">1/3. 活动基本信息</h3>
			<div class="form-group">
				<label class="control-label col-md-3" for="activity-title">活动名称</label>
				<div class="col-md-8">
					<input class="form-control" type="text" placeholder="" id="activity-title">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3" for="activity-brief">活动简介</label>
				<div class="col-md-8">
					<textarea class=" form-control" placeholder="240字以内" id="activity-biref" style="height:100px;"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3" for="activity-face">上传封面</label>
				<div class="col-md-8">
					<input type="file" class="form-control" placeholder="" id="activity-face">
				</div>
			</div>
			<div class="form-group">
				<label class=" control-label col-md-3" for="activity-time">活动时间</label>
				<div class="col-md-8">
				    <div id="datetimepicker" class="input-append date" style="display:inline-block;">
		                <div id="starttime" class="input-group date form_datetime col-md-9" data-date="2014-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
		                    <input class="form-control" size="16" type="text" value="" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>开始
		                </div>
						<input type="hidden" id="activity-time" value="" /><br/>
				    </div>
			
					<script type="text/javascript">
					    $('#starttime').datetimepicker({
					        language:  'zh-CN',
							format: 'yyyy年mm月dd日 hh:ii',
					        weekStart: 1,
					        todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							forceParse: 0,
					        showMeridian: 1
					    });
					</script>
					<div id="datetimepicker" class="input-append date" style="display:inline-block;">
		                <div id="endtime" class="input-group date form_datetime col-md-9" data-date="2014-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
		                    <input class="form-control" size="16" type="text" value="" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>结束
		                </div>
						<input type="hidden" id="activity-time" value="" /><br/>
					</div>
				
					<script type="text/javascript">
					    $('#endtime').datetimepicker({
					        language:  'zh-CN',
	    					format: 'yyyy年mm月dd日 hh:ii',
					        weekStart: 1,
					        todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							forceParse: 0,
					        showMeridian: 1
					    });
					</script>    			
					<p class="help-block">for more detail of datetimepicker configuration. check <a href="http://www.bootcss.com/p/bootstrap-datetimepicker/">http://www.bootcss.com/p/bootstrap-datetimepicker/</a></p>

				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-md-3" for="activity-place">活动地点</label>
				<div class="col-md-8">
					<input class="form-control" type="text" placeholder="baidu map API， not implemented！" id="activity-place">
					<p class="help-block">for the place suggestion API. check <a href="http://developer.baidu.com/map/place-suggestion-api.htm">http://developer.baidu.com/map/place-suggestion-api.htm</a></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="activity-link">活动链接（如果有）</label>
				<div class="col-md-8">
					<input class="form-control" type="text" placeholder="" id="activity-link">
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-3 col-md-8">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="activity-publish">我同意网站的<a href="#">使用协议</a>
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group" style="margin-top: 40px">
				<div class="col-md-offset-9 col-md-3">
					<button class="btn btn-info">取消</button>
					<button class="btn btn-info">下一步</button>
				</div>
			</div>
		</form>
	</div>
    
</div>

</body>
</html>
