.editor-title{
	width: 300px;
	border:0;
	border-bottom:1px silver solid;
	background-color:transparent;
	outline:none;
	font-weight:bold;
	font-family:'微软雅黑';
}
.editor-wrapper{
	width:100%;
	height:120px;
	background-color:#EEEEEE;
	border:silver 1px solid;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-size:0.8em;
	font-family:'微软雅黑';
	min-width:440px;
}
.editor-field{
	width:100%;
	height:65px;
	border:0;
	outline:none;
	resize:none;
	overflow:hidden;
	color:#444444;
	margin-top:5px;
}
.editor-bottom{
	font-size:0.8em;
}
.attext{
	font-weight:bold;
}
.editor-submit{
	height:20px; padding-top:0; padding-bottom: 0; font-size: 0.8em;
}