<div>
	<input type="hidden" id="editor-input-{{name}}" name="{{name}}">
	<div contenteditable="" class="editor-field" id="editor-field-{{name}}"></div>
	<script>$('#editor-input-{{name}}').syncSimpleEditor();</script>
</div>
<div class="editor-bottom">
	<a href="javascript:void(0)" value="#256" class="color-picker"><span style="color: #256" class="glyphicon glyphicon-tint"></span></a>
	<a href="javascript:void(0)" value="#444" class="color-picker"><span style="color: #444" class="glyphicon glyphicon-tint"></span></a>
	<a href="javascript:void(0)" value="#525" class="color-picker"><span style="color: #525" class="glyphicon glyphicon-tint"></span></a>
	<a href="javascript:void(0)" value="#226" class="color-picker"><span style="color: #226" class="glyphicon glyphicon-tint"></span></a>
	<a href="javascript:void(0)" value="#373" class="color-picker"><span style="color: #373" class="glyphicon glyphicon-tint"></span></a>
	<div class="pull-right">
		<a href="javascript:void(0)" class="text-muted"><span class="glyphicon glyphicon-paperclip"></span>附件</a>
		<a href="javascript:void(0)" class="text-muted" id="add-link"><span class="glyphicon glyphicon-link"></span>链接</a>
		<a href="javascript:void(0)" class="text-muted"><span class="glyphicon glyphicon-picture"></span>图片</a>
		<a href="javascript:void(0)" class="text-muted"><span class="glyphicon glyphicon-user"></span>表情</a>
		<a href="javascript:void(0)" class="text-muted"><span class="glyphicon glyphicon-eye-open"></span>预览</a>
	</div>
</div>
<div class="modal" id="util-block">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">添加链接</h4>
			</div>
			<div class="modal-body" id="modal-body-{{name}}">
				
			</div>
			<div class="modal-footer" id="modal-body-{{name}}">
		        
		    </div>
		</div>
	</div>
</div>