<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>
<script src="js/setactivity.js"></script>
</head>
<body style="background-color: silver;">
<div class="span9">
	<div class="well">
	    <div>
		    <div style="text-align:center">
		    	<h2>趁着年轻思奔去！<small><a href="#">修改</a></small></h2>
		    </div>
			<h3>活动简介</h3>
		    <div class="row">
			    <div class="span3">
			        <p>该活动创建于<span class="muted">2013年7月3日</span>创建者为<a href="#" target="_new">cacate</a>.
			        </p>
			        <p>翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给
			        	他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。
			        </p>
			    </div>
		        <div class="span5" style="margin-left: 40px;">
		        	<img src="activity/face.jpg" class="image-middle">
		        </div>
		    </div>
			<div class="">
				<h3>志愿者招募需求（8人）</h3>
				<p>主要任务：为参加思奔活动的成员服务。</p>
				<p>志愿者义务：服从团队的安排，遵纪守法</p>
				<p>志愿者权利：中途退出活动，享受路费补贴。</p>
				<p>志愿者技能要求：无</p>
				<p>共计公益时间：4小时</p>
			</div>
			<div>
				<h3>集合信息</h3>
				<p>集合地点：随园大厦（<a href="#">察看地图</a>)</p>
				
				<div style="height:400px;border:1px solid gray" id="map-container">
					<!--Here is the map-->
				</div>
				<div style="margin-top: 20px;">
					<p>集合时间：2014年9月4日（今天是 <span class="muted">2014年6月2日</span>）</p>
					<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=2&num=5" width="650" height="70" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
				</div>
			</div>
	    </div>
	</div>
    
</div>

</body>
</html>
