{% extends "activity/activity_detail_base.html" %}
{% load i18n static%}
{% block activity-discuss-active %}
active
{% endblock %}
{% block activity-content %}
<div class="col-md-9" id="rightCol" style="font-size: 80%;">
	<div  style="margin-left: 70px;">

		{{ post_form.media }}
		<form method="POST" action="{% url 'activity_detail_post_new' activity.id %}">
		{% csrf_token %}
		{{ post_form.title }}
		{{ post_form.content }}
		<input type="hidden" name="author" value="3">
		<input type="hidden" name="activity" value="{{activity.id}}">
		<input type="hidden" name="category" value="DIS">
		<button type="submit">Post</button>
		</form>
		<a href="#">仅看最热门</a>
		<p class="text-right">
			<ul class="list-unstyled">
				{% for post in activity.discusses %}
				<li style="border:1px solid gray; margin-top: 10px;">
					<div class="row" style="margin-left: 1px">
						<div class="col-md-1" style="background-color: #d6d6d6">
							<img src="{% static 'img/icon/profile.svg' %}">
							<p class="text-center">{{post.author.first_name}}{{post.author.last_name}}</p>
						</div>
						<div class="col-md-11">
							<div>
								<div class="pull-left">
									<p>
										{{post.title}}
									</p>
								</div>
								<div class="pull-right">
									<p>
										<a href="#">回复</a>&nbsp;<span class="glyphicon glyphicon-share"></span>
									</p>
								</div>
							</div>
							<hr>
							<div>
								<p><strong>{{post.content}}</strong></p>	
							</div>
							<div class="pull-right">
								<p>{{post.create_time}}&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></p>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</p>
	</div>
</div>
{% endblock %}
