{% extends "activity/activity_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activities" %}{% endblock %}
{% block content %}
<div style="font-size:80%;">
	<h1 class="padding-small">{% trans 'Activity' %}</h1>
	<div  class="row">
		<div class="col-md-7">
			<div class="padding-small">
				<input type="text" class="form-control" style="font-size: 0.8em;" placeholder="请输入关键词：标题，简介，类型，主办方，创建者">
				<p class="help-block">
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
					<a class="muted" style="margin: 3px;" href="javascript:void(0)">青春</a>
				</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-7" style="margin-bottom: 100px; ">
			<div class="row" style="margin-bottom: 20px;">
				<div class="margin-middle" style="margin-right: 0">
					<div class=" pull-right col-md-6">
						<button class="btn btn-default active">招募中</button>
						<button class="btn btn-default">进行中</button>
						<div class="col-md-6">
							<select class="form-control">
								<option>排序</option>
								<option>时间最近</option>
								<option>最受欢迎</option>
								<option>信誉最高</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			{% for activity in activities %}
			<div class="padding-middle hover-div" style=" background-color: #EEEEEE; margin-bottom: 20px;" id="{{ activity.id }}">
				<div>
					<a href="{% url 'activity_detail' activity.id %}"><h5 style="display: inline-block;color:#333333">{{ activity.name }}</h5></a>
					<div class=" pull-right" style="margin-top: 7px;">
						<table ><tr>
							<td>
								<div id="{{ activity.id }}_content" class="hide" style="display: inline-block;">
									<div class="bdsharebuttonbox" data-tag="share_1" style="height:22px; overflow: hidden; margin-top: -7px; margin-bottom: -3px;">
										<!--<a class="bds_mshare" data-cmd="mshare"></a>-->
										<a class="bds_qzone" data-cmd="qzone" href="#"></a>
										<a class="bds_tsina" data-cmd="tsina"></a>
										<a class="bds_renren" data-cmd="renren"></a>
										<a class="bds_weixin" data-cmd="weixin"></a>
										<a class="" data-cmd="more">更多</a>
										<a class="bds_count" data-cmd="count"></a>
									</div>
								</div>&emsp;
							</td>
							<td height="20px">
								<a href="javascript:void(0)">参与(5/8)</a>&emsp;
							</td>
							<td>
								<a href="javascript:void(0)">关注(12)</a>
							</td>
						</tr></table>
					</div>
				</div>
				<div class="hide" id="{{activity.id}}_toggle_content">
					<p class="text-muted">思奔，思考人生什么的最优意思。的拉萨解放军哦了思奔，思考人生什么的最优意思的拉
						萨解放军，哦了思奔，思考人生什么的最优，意思的拉萨解放军哦了思奔，思考人生什么的最奔，思考人生什么的最优意思的拉
						萨解放军，哦了思奔，思考人生什么的最优，意思的拉萨解放军哦了思奔，思考人生什么的最
						优意思的拉萨解放军哦了
					</p>
					<div align="right" class="text-muted">
						<a href="百度地图" class="text-muted">随园大厦15楼 安仁会馆</a>
						&nbsp;&nbsp;9月 12 日&nbsp;&nbsp;
					</div>
				</div>
				<p>
					<a id="{{activity.id}}_toggle" href="javascript:void(0)" class="toggle-div">展开</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="text-muted">标签：</span>
					<a class="text-muted" href="javascript:void(0)">青年</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">青春</a> &nbsp;&nbsp;
					<a class="text-muted" href="javascript:void(0)">教育</a> &nbsp;&nbsp;
					<span class="pull-right">
						<a href="赵健个人主页" title="赵健的主页" class="text-muted">赵健</a>
						（<a href="嘤鸣读书会" style="color:#333333">嘤鸣读书会</a> 
						<a href="信用度说明" style="color: orange">Cr.78</a>）&nbsp;&nbsp;
					</span>
				</p>
			</div>
			{% endfor %}
			<a href="javascript:void(0)" class="pull-right">显示更多</a>
		</div>
		<div class="col-md-5">
			<div align="center">
				<a class="btn btn-lg btn-warning" href="{% url 'activity_new' %}">创建活动</a>
			</div>
			<div class="padding-middle text-muted">
				<p style="font-size:1.5em; line-height: 1.8em;">&emsp;&emsp;创建一个活动，填写完简单的活动和招募信息后，
					您可以通过此平台与参与活动的志愿者在线沟通，给志愿者们发送短信通知，和志愿者一起撰写活动动态，
					活动完成后你可以把活动内容整理成”故事档案“，并给志愿者打分。</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}