{% extends "activity/activity_base.html" %}
{% load i18n static%}
{% block stylesheets %}
{{block.super}}
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block scripts %}
{{block.super}}
{% endblock %}
{% block content %}
<h2>Congratulations</h2>
<p>You have created the activity, now you can:
<a class="btn btn-primary" href="{% url 'activity_detail_settings' act_id 'recruit' %}">Complete the Activity</a>
or
<a class="btn btn-primary" href="{% url 'activity_detail' act_id %}">View your activity</a>
</p>
{% endblock %}