{% extends "activity/activity_detail_base.html" %}
{% load i18n static%}
{% block activity-post-active %}
active
{% endblock %}
{% block activity-content %}
<div class="col-md-9" id="rightCol"  style="display: inline-block; font-size: 80%;">
	{% load crispy_forms_tags %}
	{{ post_form.media }}
	<form method="POST" action="{% url 'activity_detail_post_new' activity.id %}" id='{{form_id}}'>
	{% csrf_token %}
	{{ post_form.title }}
	{{ post_form.content }}
	<input type="hidden" name="author" value="3">
	<input type="hidden" name="activity" value="{{activity.id}}">
	<input type="hidden" name="category" value="PST">
	<button type="submit">Post</button>
	</form>
	<div  style="margin-left: 70px;border-left: solid gray;">
		<dl >
		  <dt style="margin-top: 10px">
		  	<p style="margin-left: 5px">9月2日 14:12</p>
		  	<p style="margin-left: 5px; float:left;">孩子们正在热烈的讨论中</p>
		  	<div style="float:right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="glyphicon glyphicon-share"></span></div>			  	
		  </dt>
		  <hr style="border-top: 1px solid gray; margin-top: 40px">
		  <dd>
		  	<div class="row" style="width: 700px; margin-left: 250px">
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			</div>
			<div>
				<div class="panel-group" id="accordion"  style="margin-left: 250px">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				          闫新宇同学正在努力说服自己的小伙伴们。<strong>评论(3)</strong>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in">
				      <div class="panel-body">
				        <p>1# 小闫好帅啊~~~(by. 路人)</p>
				        <p>2# 赞楼上（by. cacate）</p>
				        <form>
					        <input type="text" class="form-control" placeholder="发表评论">
				        </form>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		  </dd>
		  <dt style="margin-top: 10px">
		  	<p style="margin-left: 5px">9月2日 14:12</p>
		  	<p style="margin-left: 5px; float:left;">孩子们正在热烈的讨论中</p>
		  	<div style="float:right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="glyphicon glyphicon-share"></span></div>			  	
		  </dt>
		  <hr style="border-top: 1px solid gray; margin-top: 40px">
		  <dd>
		  	<div class="row" style="width: 700px; margin-left: 250px">
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			</div>
			<div>
				<div class="panel-group" id="accordion1"  style="margin-left: 250px">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
				          闫新宇同学正在努力说服自己的小伙伴们。<strong>评论(3)</strong>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		  </dd>
		  <dt style="margin-top: 10px">
		  	<p style="margin-left: 5px">9月2日 14:12</p>
		  	<p style="margin-left: 5px; float:left;">孩子们正在热烈的讨论中</p>
		  	<div style="float:right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="glyphicon glyphicon-share"></span></div>			  	
		  </dt>
		  <hr style="border-top: 1px solid gray; margin-top: 40px">
		  <dd>
		  	<div class="row" style="width: 700px; margin-left: 250px">
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="img/wall/bg1.jpg" alt="..." style="width: 80px; height: 80px;">
			    </a>
			  </div>
			</div>
			<div>
				<div class="panel-group" id="accordion2"  style="margin-left: 250px">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				          闫新宇同学正在努力说服自己的小伙伴们。<strong>评论(3)</strong>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		  </dd>
		</dl>
		<p class="text-right"><a href="#">显示更早</a></p>
	</div>
</div>
{% endblock %}
