{% extends "activity/activity_detail_base.html" %}
{% load i18n static%}
{% block activity-doc-active %}
active
{% endblock %}
{% block activity-content %}
<div class="col-md-9" >
	<div  style="margin-left: 70px;">

		<a href="{% url 'activity_detail_doc_new' activity.id %}" class="btn btn-primary">Upload a Document</a>
		{% for doc in activity.docs %}
		<dl>
		  <dt style="margin-top: 10px">
		  	<a href="#">{{ doc.original_filename }}</a>&nbsp;
		  	<a href="{{ doc.url }}"><small>下载</small></a>&nbsp;
		  	<a href="#"><small>删除</small></a>
		  </dt>
		  <dd>{{ doc.description }}</dd>
		</dl>
		{% endfor %}
	</div>
</div>
{% endblock %}
