{% extends "activity/activity_base.html" %}
{% load i18n static%}

{% block title %}{% trans "Activities" %}{% endblock %}


{% block stylesheets %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/ican.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/redactor.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>-->
<script src="{% static 'js/setactivity.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'js/redactor.js' %}"></script>
<script type="text/javascript">
    $(function()
    {
        $('#content').redactor({
			imageGetJson: '/tests/images.json',
			imageUpload: '/webUpload/redactor/uploadImage/',
			clipboardUploadUrl: '/webUpload/redactor/clipboardUpload/',
			fileUpload: '/webUpload/redactor/fileUpload/'
		});
    });
</script>
{% endblock %}


{% block content %}
{% block activity-title %}
<div class="row" style="height: 180px; margin-bottom: 30px;">
	<div class="col-md-12" align="left" style="padding-top: 80px;display: inline-block;">
		<div style="margin-left: 70px;">
			<div style="float:right;">
				<button type="submit" class="btn btn-default btn-sm">举报</button>
				<button type="submit" class="btn btn-default btn-sm">加入(6/8)</button>
				<button type="submit" class="btn btn-default btn-sm">关注(8)</button>
				<span class="glyphicon glyphicon-share">&nbsp;分享</span>
			</div>
			
			<h1 style="color:#B94A48;">趁着年轻去“思奔”<small>随园大厦 安仁会馆 3月29日 12:20</small></h1>
		</div>
	</div>
</div>
{% endblock %}

<div class="row">
	{% block activity-nav %}
	<div class="col-md-3" id="leftCol">
      	<div class="list-group" id="sidebar" style="margin-left: 70px;">
          <a href="{% url 'activity_detail_detail' act_id %}" class="list-group-item {% block activity-detail-active %}{% endblock %}">活动详情</a>
          <a href="{% url 'activity_detail_post' act_id %}" class="list-group-item {% block activity-post-active %}{% endblock %}">活动动态</a>
        </div>
        <div class="list-group" id="sidebar" style="margin-left: 70px;">
          <a href="{% url 'activity_detail_discuss' act_id %}" class="list-group-item {% block activity-discuss-active %}{% endblock %}">讨论区域</a>
          <a href="{% url 'activity_detail_notice' act_id %}" class="list-group-item {% block activity-notification-active %}{% endblock %}">通知发布</a>
        </div>
        <div class="list-group" id="sidebar" style="margin-left: 70px;">
          <a href="{% url 'activity_detail_album' act_id %}" class="list-group-item {% block activity-album-active %}{% endblock %}">活动相册</a>
          <a href="{% url 'activity_detail_doc' act_id %}" class="list-group-item {% block activity-doc-active %}{% endblock %}">共享文档</a>
      	</div>
        <div class="list-group" id="sidebar" style="margin-left: 70px;">
          <a href="{% url 'activity_detail_settings' act_id '' %}" class="list-group-item {% block activity-settings-active %}{% endblock %}">活动设置</a>
          <a href="{% url 'activity_detail_member' act_id %}" class="list-group-item {% block activity-member-active %}{% endblock %}">组员管理</a>
      	</div>
	</div>
	{% endblock %}
	{% block activity-content %}
	{% endblock %}
</div>
{% endblock %}