{% extends "activity/activity_detail_base.html" %}
{% load i18n static%}
{% block activity-discuss-active %}
active
{% endblock %}
{% block activity-content %}
<div class="col-md-9" id="rightCol" style="font-size: 80%;">
	<div  style="margin-left: 70px;">

		{{ post_form.media }}
		<form method="POST" action="{% url 'activity_detail_post_new' activity.id %}">
		{% csrf_token %}
		{{ post_form.title }}
		{{ post_form.content }}
		<input type="hidden" name="author" value="3">
		<input type="hidden" name="activity" value="{{activity.id}}">
		<input type="hidden" name="category" value="DIS">
		<button type="submit" class="btn btn-default editor-submit">Post</button>
		</form>
		<a href="#">仅看最热门</a>
		<p class="text-right">
			<ul class="list-unstyled">
				{% for post in activity.discusses %}
				
				
				<div class="row">
					<div class="col-md-1">
						<div class=" bubble-left-author pull-right">
							<div class="row">
								<img src="img/avatar/2.jpg" class="avatar-middle pull-right" style="display: block;">
							</div>
							<div class="row">
								<a class="text-primary pull-right" href="#" style="font-size: 0.8em;">{{post.author.first_name}}{{post.author.last_name}}</a>
							</div>
							<div class="row">
								<span class="text-muted pull-right" style="font-size: 0.8em;">{{post.create_time}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="bubble">
							<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
								<span class="bubble-title">
								<span class="text-muted">[19#]</span> {{post.title}} 
								</span>
								<div class="bubble-opblock pull-right">
									<a href="javascript:void(0)" title="Share this Content"><span class="glyphicon glyphicon-share"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
									<a href="javascript:void(0)" title="up"><span class="glyphicon glyphicon-thumbs-up"></span><span style="font-size: 0.8em;">11</span></a>&nbsp;&nbsp;
									<span class="dropdown">
										<a href="javascript:void(0)" title="Operation" id="dropdownMenu1" class="dropdown-toggle" data-toggle='dropdown'><span class="glyphicon glyphicon-cog"></span></a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
											<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">回复</a></li>
											<li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">删除</a></li>
										</ul>
									</span>
								</div>
							</div>
							<div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 7px;">
								<p class="bubble-p">{{post.content_as_md}}</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</ul>
		</p>
	</div>
</div>
{% endblock %}
