{% extends "activity/activity_detail_base.html" %}
{% load i18n static%}
{% block activity-album-active %}
active
{% endblock %}
{% block activity-content %}
<div class="col-md-9" id="rightCol">
	<div  style="margin-left: 70px;">
		<p class="text-right"><a href="#">上传</a></p>
		<div class="row">
			<div class="col-md-8">
				<a href="#" style="float: right"><span class="glyphicon glyphicon-share"></span></a>
				<a href="#" class="thumbnail">								
					<img src="img/wall/bg1.jpg" alt="...">
				</a>							
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="thumbnail">
							<img src="img/wall/bg1.jpg" alt="...">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="img/wall/bg1.jpg" alt="...">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
