{% extends "photo/photo_base.html" %}

{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<div class="gallery-photo">
    <a href="{{ object.image.url }}"><img src="{{ object.get_photo_large_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/></a>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>

<h2>This photo belongs to gallery:</h2>
<ol>

<a href="{{ object.gallery.get_absolute_url }}">{{ object.gallery.title }}</a>

</ol>


{% endblock %}
