{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Photo" %}{% endblock %}

{% block content %}
<h1>{{album.title}}</h1>
<p>{{album.desc}}</p>
<h3>Photos</h3>
<table>
<tbody>
<tr><th><h3>ID</h3></th><th><h3>Desc</h3></th><th><h3>View</h3></th></tr>
{% for photo in photo_list %}
	<tr><td>{{photo.id}}</td><td>{{photo.desc}}</td><td><a href="../../{{photo.id}}">view</a></td></tr>
{% endfor %}
</tbody>
</table>
<a href="../../new/{{album.id}}">upload a photo</a>
<br/>
<a href="../update/{{album.id}}">edit this album</a>
{% endblock %}