<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I Can</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ican.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>
<script src="js/setactivity.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body style="background-color: silver;">
	<div class="container">
		<div class="well">
			<h3 class="page-header">Organization Profile</h3>
		    <form class="form-horizontal">
		    	<fieldset>
			
					<div class="form-group">
					    <label class=" control-label col-md-3" for="org-name">Name</label>
					    <div class="col-md-8">
					    	<input type="text" class="form-control" id="org-name" title="" rel="tooltip" placeholder="Name of your Organization." required="">
					    </div>
					</div>
			
					<div class="form-group">
					    <label class=" control-label col-md-3" for="avatar">LOGO</label>
					    <div class="col-md-8">
					    <input type="file" class="form-control" id="avatar" placeholder="上传头像">
					    </div>
					</div>
			
					<div class="form-group">
					    <label class=" control-label col-md-3" for="org-url">主页链接（如果有）</label>
					    <div class="col-md-8">
					    	<input type="text" class="form-control" id="org-url" title="" placeholder="the url of you organazation's official site.">
					    </div>
					</div>
					
					
					<div class="form-group">
					    <label class=" control-label col-md-3" for="father">从属于（如果有）</label>
					    <div class="col-md-8">
					    	<input type="text" class="form-control" id="father" title="" rel="tooltip" placeholder="该组织的总站或上级站点，如‘DFC南京’的从属于‘DFC中国’。">
					    </div>
					</div>
					
				    <div id="birthday_div" class="input-append date" style="display:inline-block;">
					    <label class=" control-label col-md-3" for="birthday-data">创建日期</label>
					    <div class="col-md-8">
			                <div id="birthday" class="input-group date form_datetime" data-date="2014-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
			                    <input id="birthday-data" class="form-control" size="16" type="text" value="" readonly>
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
							<input type="hidden" value="" name="start_time"/><br/>
						</div>
				    </div>
						
					<script type="text/javascript">
					    $('#birthday').datetimepicker({
					        language:  'zh-CN',
							format: 'yyyy年mm月dd日 hh:ii',
					        weekStart: 1,
					        todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							forceParse: 0,
					        showMeridian: 1
					    });
					</script>
					
					
			        <div class="form-group">
			            <label class=" control-label col-md-3" for="org-tag">TAGS</label>
			            <div class="col-md-8">
			                <input type="text" placeholder="use ',' or space to divide tags." class="form-control" id="org-tag" >
			            </div>
			        </div>
			        
			        <div class="form-group">
			        	<div class="form-group">
			                <label class=" control-label col-md-3" for="signature">介绍</label>
				            <div class="col-md-8">
				                <textarea placeholder="组织的简单介绍（240字以内）" class="form-control" id="signature" title=""></textarea>
			                	<p class="help-block">认真填写组织的介绍，可以让大家更好的了解你。</p>
				            </div>
				        </div>
			        </div>
			        
					<div class="form-group" style="margin-top: 50px;">
					    <label class=" control-label col-md-3" for="charge-name">Person in Charge</label>
					    <div class="col-md-8">
					    	<input type="text" class="form-control" id="charge-name" title="" rel="tooltip" placeholder="Name of the person in charge of your organization." required="">
					    </div>
					</div>
			        <div class="form-group">
			            <label class=" control-label col-md-3" for="phone">负责人联系方式（公开）</label>
			            <div class="col-md-8">
				            <input type="text" class="form-control" placeholder="负责人手机号码或组织固定电话" id="phone" title="" required="">
			        	</div>
			        </div>
			        
			        <div class="form-group">
			            <label class=" control-label col-md-3" for="qq">志愿者QQ群号码</label>
			            <div class="col-md-8">
				            <input type="text" class="form-control" placeholder="" id="qq" title="QQ">
			        	</div>
			        </div>
			        
			        <div class="form-group">
			            <label class=" control-label col-md-3" for="weixin">微信公众号</label>
			            <div class="col-md-8">
				            <input type="text" class="form-control" placeholder="" id="weixin" title="微信">
			        	</div>
			        </div>
			        
					<div class="form-group">
					    <label class=" control-label col-md-3" for="alipay-url">支付宝捐赠链接</label>
					    <div class="col-md-8">
					    	<input type="text" class="form-control" id="alipay-url" title="" placeholder="the url of you alipay link.">
					    </div>
					</div>
			        
					<div class="form-group">
					    <label class=" control-label col-md-3" for="org-data">上传验证资料</label>
					    <div class="col-md-8">
					    	<input type="file" class="form-control" id="org-data" placeholder="上传">
			                <p class="help-block">资料必须包括：您的身份证复印件，组织的宣传资料和做过的活动一览，打包成不超过50M的压缩包并上传。
			                	我们将会根据您上传的资料，确定您的申请是否通过，并且评估信用等级，申请一旦通过，我们将会发送短信通知您。
			                	如果您觉得这样做不是很方便，也可以通过邮件联系<a href="mailto:">xxxxx@163.com</a>和我们进行交流信息的真实性。</p>
					    </div>
					</div>
			
			        <div class="form-group">
			          <!-- Button -->
			        	<div class="col-md-offset-3 col-md-8">
			            	<button class="btn btn-info">保存更改</button>
			            	<button class="btn btn-info">放弃修改</button>
			            </div>
			        </div>
			        
				</fieldset>
			</form>
		
			<!--Begin of Basic Informatoin-->
			<h3 class="page-header">更改密码</h3>
			<form class="form-horizontal">
				<fieldset>
					
					<div class="form-group">
					    <label class=" control-label col-md-3" for="old-passwd1">原密码</label>
					    <div class="col-md-8">
					    	<input type="password" class="form-control" id="old-passwd1" placeholder="密码" required>
					    </div>
					</div>
					<div class="form-group">
					    <label class=" control-label col-md-3" for="passwd1">新密码</label>
					    <div class="col-md-8">
					    	<input type="password" class="form-control" id="passwd1" placeholder="密码" required>
					    </div>
					</div>
					
					<div class="form-group">
					    <label class=" control-label col-md-3" for="passwd2">重复密码</label>
					    <div class="col-md-8">
					    	<input type="password" class="form-control" id="passwd2" placeholder="重复密码" required>
					    </div>
					</div>
					
					
					<div class="form-group">
					    <div class="col-md-offset-3 col-md-8">
							<button class="btn btn-default">发送邮箱验证</button>
					    </div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>