
{% extends "base.html" %}
{% load static %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}

{% if form.is_multipart %}
    <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="">
{% else %}
    <form class="form-horizontal" role="form" method="post" action="">
{% endif %}
	<input type="hidden" name="organizations" value="2">
	{% csrf_token %}
	{{ form.media }}
	
	
	
    {% if form.errors %}
    <p class="error">{% trans "Sorry, that's not a valid username or password" %}</p>
    {% endif %}
  
  
	<div class="{% if category and not category == 'detailed' %}hidden{% endif %}">
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
	
        {{ form.descriptions|as_crispy_field }}
	
        {{ form.birthday|as_crispy_field }}

        {{ form.telephone|as_crispy_field }}
	
        {{ form.qq|as_crispy_field }}
	<!--
		<label class="control-label col-md-3" for="activity-face">上传封面</label>
		<div class="col-md-8">
			<input type="file" class="form-control" placeholder="" id="activity-face" name="cover">
		</div>
	</div>-->

	<!--
		{{ form.places.errors }}
		<label class="control-label col-md-3" for="activity-place">活动地点</label>
		<div class="col-md-8">
			<input class="form-control" type="text" placeholder="baidu map API， not implemented！" id="activity-place" required>
			<p class="help-block">for the place suggestion API. check <a href="http://developer.baidu.com/map/place-suggestion-api.htm">http://developer.baidu.com/map/place-suggestion-api.htm</a></p>
		</div>
	</div>-->
	
		{% if not update %}
        {{ form.email|as_crispy_field }}
		<input type="checkbox" id="activity-publish">我同意网站的<a href="#">使用协议</a>
		{% endif %}
	</div>
	<div class="{% if category and not category == 'basic' %}hidden{% endif %}">
	

        {{ form.username|as_crispy_field }}
	

        {{ form.password|as_crispy_field }}
		
		{{ form.password|as_crispy_field }}
	


	<input class="btn btn-info" type="submit" value="{% if update %}Save{% else %}Create{% endif %}">
</form>

{% endblock %}
