<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>活动展示</title>
<link href="css/mycss.css" rel="stylesheet"></link>
<link href="css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/seteditor.js"></script>
<script src="js/myutils.js"></script>
<script src="js/global.js"></script>
<style type="text/css">
p{
	text-indent:2em;
}
.myp{
	font-size:0.8em;
	font-family:"微软雅黑";
}

.figure_container img{
	width:100%;
	border:silver solid 5px;
}
.img_des{
	width:100%;
	text-align:center;
	font-size:0.8em;
	color:grey;
}
.figure_block{
	padding-bottom:10px;
}
</style>
</head>

<body>
<div class="container">
<div class="row">
<div class="span10 offset1">
	<!--Setction 0: Introduction-->
    <div style="margin-top:20px;">
    <div style="text-align:center">
    <h1>为翠竹园流浪猫找个家</h1>
    </div>
    <div class="span10" style="margin-top:20px;">
    <h2>背景和简介</h2>
    <hr>
        <p>该活动创建与2013年7月3日，创建者为<a href="profile_show.html" target="_new">cacate</a>，事件发生地为翠竹园小区。</p>
        <p>翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。翠竹园有一群可怜的流浪猫，灰常可怜，希望能给他们找个家。</p>
        <div class="span8 offset1">
        <img src="activity/a0000001/image/face.jpg" style="width:100%;">
        </div>
    </div>
    </div>
    <!--Step 1: Feel-->
    <div class="span10" style="margin-top:20px;">
    <h2>感受问题</h2>
    <hr>
    <p>我们进行了现场采访，发现了很多以前没了解过的问题。贴海报不光要做海报，还需要征求小区管理人员的同意，小区物业给出了很多很好的建议哦。我们来听听我们的采访吧！~</p>
    <blockquote>
    <p class="myp">经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
    <small class="pull-right"><cite title="">谢女士</cite></small>
    </blockquote>
    <div style="margin-top:10px;">
    <span class="span1 label label-info">采访录音</span>
    <audio class="span4" src="activity/a0000001/audio/feel.mp3" id="audio_feel" controls></audio>
    </div>
    <div style="margin-top:20px;" class="span10">
    	<p>我们的摄影师也拍了好几张现场的照片呢！</p>
        <div class="row">
        <span class="span1 label label-info">现场照片</span>
        <div class="span7 figure_container">
        <div class="figure_block">
        <img src="activity/a0000001/image/1.JPG" class="img_show" id="a0000001_1">
        <div class="img_des"><p>这是一段照片的说明文字。</p></div>
        </div>
        <div class="figure_block">
        <img src="activity/a0000001/image/3.JPG" class="img_show" id="a0000001_2">
        <div class="img_des"><p>这是一段照片的说明文字。</p></div>
        </div>
        </div>
        </div>
    </div>
    </div>
    <!--Step 2: Imagine-->
    <div class="span10" style="margin-top:20px;">
    <h2>想象问题解决方法</h2>
    <hr>
    <p>孩子们提出了很多天马星空的想法，我们来看看他们都是怎么去设计各种方案的吧：</p>
    <blockquote>
    <p class="myp" style="text-indent:0;"><span class="label label-info">方案1</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
    <small class="pull-right"><cite title="">cacate</cite></small>
    </blockquote>
    <blockquote>
    <p class="myp" style="text-indent:0;"><span class="label label-info">方案2</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
    <small class="pull-right"><cite title="">谢闯</cite></small>
    </blockquote>
    <div class="span10">
    <span class="label label-info">投票结果</span>
    <div>这里放的是统计图表控件。</div>
    </div>
    </div>
    
    <!--Step3: Do Block-->
    <div class="span10" style="margin-top:20px;">
    <h2>行动</h2>
    <hr>
    <p>大家分工明确，各自都领到了任务：</p>
    <p>在2013年8月12日，7名参与者和3名引导员，以及1名摄影师一起来到了翠竹园小区，开始了这次的行动，行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。</p>
    <blockquote>
        <p class="myp" style="text-indent:0;"><span class="label label-info">任务1</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
    <small class="pull-right"><cite title="">实施者：cacate</cite></small>
    </blockquote>
    <blockquote>
    <p class="myp" style="text-indent:0;"><span class="label label-info">任务2</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问题确实存在，扰了不少的居民。其供了一些很好的建议。</p>    
    <small class="pull-right"><cite title="">实施者：谢闯</cite></small>
    </blockquote>
    <div style="margin-top:20px;" class="span10">
    	<p>细心的摄影师志愿者没有错过一个精彩的瞬间：</p>
        <div class="row">
        <span class="span1 label label-info">现场照片</span>
        <div class="span7 figure_container">
        <div class="figure_block">
        <img src="activity/a0000001/image/1.JPG" class="img_show" id="a0000001_1">
        <div class="img_des"><p>这是一段照片的说明文字。</p></div>
        </div>
        <div class="figure_block">
        <img src="activity/a0000001/image/3.JPG" class="img_show" id="a0000001_2">
        <div class="img_des"><p>这是一段照片的说明文字。</p></div>
        </div>
        </div>
        </div>
    </div></div>

    <!--Step3: Share Block-->
    <div class="span10" style="margin-top:20px; margin-bottom:300px;">
    <h2>分享成果</h2>
    <hr>
    <p>经过大家努力，我们取得了丰硕的成果，在2013年8月12日，7名参与者和3名引导员，以及1名摄影师一起来到了翠竹园小区，开始了这次的行动，行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。行动过程描述。</p>
        <p>这段视频记录了我们努力的过程：</p>
        <span class="label label-info span1">视频记录</span>
        <div class="span8">
        <embed src="http://player.youku.com/player.php/sid/XMjk5NTI5NTk2/v.swf" allowFullScreen="true" quality="high" width="550" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
        </div>
        <div class="row">
        <div class="span10" style="padding-top:10px;">
        <p>如果你喜欢这个DFC故事，如果你被它感动，请把它分享到网络或者告诉你周围的人吧。</p>
        <div>分享插件</div>
        <p>我们是<a href="intro_dfc.html">孩童创意行动中心(Design For Change)</a>，一个鼓励未成年人去发现周围存在的问题，并引导他们去解决这个问题的公益组织。让孩子在解决问题的过程中学会承担，学会社会技能。</p>
        <p>如果您或者您的孩子对DFC行动感兴趣，可以通过这个网站平台参与到DFC当中，DFC会派志愿者去帮助未成年人解决这些问题，我们也经常去社区做<a href="#">DFC工作坊</a>，让孩子学会主动的观察和发现问题。我们承诺不会在活动的任何一个环节中收取任何费用。欢迎<a href="#">了解我们</a>或者<a href="#">加入我们团队</a><a href="#">参与志愿者</a>活动。</p>
        </div></div>
        
        
        
        <div class="row" style="padding-top:20px;">
        <div class="span6" style="background-color:silver;"><h6>留言墙</h6>
        
        <div  style="margin-bottom:15px;">
        <blockquote>
            <p class="myp"><span class="label label-info">志愿者</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
        <small class="pull-right"><cite title="">cacate（2013年6月4日 12:12）</cite></small>
        </blockquote></div>
        <div  style="margin-bottom:15px;">
        <blockquote>
            <p class="myp"><span class="label label-info">路人</span>&nbsp;经过我们的采访，我们发现这个问题确实存在，而且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。经过我们的采访，我们发现这个问且困扰了不少的居民。其中，谢女士给我们提供了一些很好的建议。</p>
        <small class="pull-right"><cite title="">匿名（2013年5月7日 12:13）</cite></small>
        </blockquote></div>
        </div>
        <div class="span4">
        <form>
        <textarea class="input-xlarge" placeholder="留言" style="height:100px; width:100%;"></textarea>
        <div style="text-align:right"><button class="btn" type="submit">写留言</button></div>
        </form>
        </div>
        </div>
        
        

    </div>
    
</div>
</div>
</div>

</body>
</html>
