{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width:device-width, initial-scale:1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'css/ican.css' %}">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.2.css">
		<script type="text/javascript" src="{% static 'css/redactor.css' %}"></script>
	    <title>{% block title %} I Can {% endblock %}</title>
	    {% block meta %}{% endblock %}
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/setactivity.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/redactor.js' %}"></script>
	</head>
	<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}" style="background-image: url({% block body_bg %}{%endblock%});font-size: 66%;">	    
 
	    	<div class="navbar navbar-static" style="margin-bottom: 0px;">
				{% block navigation %}
		    	<div class="navbar-inner">
		      		<div class="container">
		        		<a class="brand" href="{% url 'home' %}">I Can</a>
			            <ul class="nav" id="nav1-ul">
			                <li class="active navitem" id="nav-index"><a href="{% url 'home' %}">{% trans 'Index' %}</a></li>
			                <li class="navitem" id="nav-activity"><a href="{% url 'activity_home'%}">{% trans 'Recruit' %}</a></li>
			                <li class="navitem" id="nav-story"><a href="#">{% trans 'Story' %}</a></li>
			                <li class="navitem" id="nav-org"><a href="{% url 'signup_organization' %}">{% trans 'Organization' %}</a></li>
			                <li class="navitem" id="nav-award"><a href="#">{% trans 'Award' %}</a></li>
			            </ul>
						<script>
							$('#nav1-ul li').click(function(){
								$('#nav1-ul li').removeClass('active');
								$(this).addClass('active');
							});
						</script>
			            
			            <ul class="nav pull-right"> <!--Right hand side-->
			          	    <li>  
				          	    <form class="navbar-search pull-left">
				  			        <input type="text" style="margin-bottom: 0;margin-right: 15px;" placeholder="搜索">
							    </form>
					  	    </li>
						  	{% if user.is_authenticated %}
							  	<li>
					                <a href="message.html" target="content" style="padding:10px;">
					                	<img class="avatar-small" src="static/img/icon/message.svg">
					                </a>
					            </li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:8px;">
					             		<img src="static/img/icon/avatar.svg" class="avatar-small">
					              		<span class="small-grey">{% trans 'Operation_Panel' %}</span>
					              		<b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
						                <li><a href="myact.html" target="content">Act 1</a></li>
						                <li><a href="myteam.html" target="content">Act 2</a></li>
						                <!--<li><a href="#">备忘</a></li>-->
						                <li class="divider"></li>
						                <li><a href="myact.html" target="content">Org 1</a></li>
					  	                <li><a href="myteam.html" target="content">Org 2</a></li>
				  		                <li class="divider"></li>
						                <li><a href="{% url 'logout' %}" id="logout">{% trans 'Log out' %}</a></li>
						                <li><a href="{% url 'profile' %}" target="content">{% trans 'Profile' %}</a></li>
					                </ul>
					            </li>
						    {% else %}
							    <li><a href="{% url 'login' %}"><span>{% trans 'Log in' %}</span></span></a></li>
							    <li><a href="{% url 'register' %}"><span>{% trans 'Register' %}</span></span></a></li>
						    {% endif %}
						</ul>
		        	</div>
		        </div><!-- /navbar-inner-->
				{% endblock %}
		    </div><!-- /navbar-->
		<!--Content  e61610-->
		<div id="content-container" class="container">
		    {% block content %}
		    {% endblock %}
		</div>
		
  


<!--Footer Block-->
	<div style="width: 100%; margin-top: 100px;" id="footer">
	    {% block footer %}

		<div style="background-color: #777; padding:20px;">
			<div class="container">
		
				<div class="row">
					<div class="span3">
						<ul class="unstyled">
							<li>
								<h5>关于I Can</h5>
							</li>
							<li>了解I Can</li>
							<li>团队介绍</li>
							<li>联系我们</li>
						</ul>
					</div>
					<div class="span3">
						<ul class="unstyled">
							<li>
								<h5>帮助</h5>
							</li>
							<li>建议反馈</li>
							<li>网站使用手册</li>
							<li>网站管理条例</li>
						</ul>
					</div>
					<div class="span3">
						<ul class="unstyled">
							<li>
								<h5>关注I Can</h5>
							</li>
							<li>新浪微博</li>
							<li>人人网</li>
							<li>豆瓣小组</li>
						</ul>
					</div>
					
					<div class="span3">
						<ul class="unstyled">
							<li>
								<h5>官方微信</h5>
							</li>
							<li><img src="{% static 'img/wall/bg4.jpg' %}" class="avatar-large" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<p class="text-muted">&copy;Volunteer2Here</p>
	    {% endblock %}
	</div>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>
</body>
</html>