<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>注册新用户</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="modal">
    <div class="modal-header">选择操作</div>
    <div class="modal-body">
    如果您想参加或者发起活动，您需要进一步完成您的资料。
    </div>
    <div class="modal-footer">
        <a href="navigator.html">
        <button class="btn">我只想看看</button>
        </a>
        <a href="navigator.html">
        <button class="btn" title="只有进一步完善资料才能参与活动。" rel="tooltip" id="toprofile">继续完善资料</button>
        </a>
    </div>
</div>
</body>
</html>
